@model SimSo.Models.App.ViewModels.ListSimViewModel
@{
    int stt = 1;
    int pageCount = Model.PageCount;
    int page = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
    var isHidden = pageCount == 0 ? "none" : "";
    var isShow = pageCount > 0 ? "none" : "";
    ViewBag.Title = "Trang chủ";
}
<ol class="breadcrumb" style="display:@isHidden">
    <li><a href="#"></a><i class="fa fa-home"></i> Trang chủ </li>
    <li><a href="#">Sim   </a></li>
    <li class="active">Tam hoa</li>
</ol>
<!-- end breadcrumb-->
<!-- table sim-->
<h4 style="display:@isShow;margin-left:30px">Không tìm thấy Sim nào.</h4>
<div class="table-wrapper" style="display:@isHidden">
    <ul class="ul-tb-sim clearfix">
        <li class="tb-head">
            <div class="col-md-1 col-xs-6"><span>STT </span></div>
            <div class="col-md-3 col-xs-6 bold"><span>Sim  </span></div>
            <div class="col-md-2 col-xs-4"><a href="#0"></a>Giá <i class="fa fa-angle-down"></i></div>
            <div class="col-md-2 sm-hidden text-center"><a href="#0"> Mạng <i class="fa fa-angle-down"></i></a></div>
            <div class="col-md-2 sm-hidden text-center"><a href="#0"></a>Loại sim <i class="fa fa-angle-down"></i></div>
            <div class="col-md-2 col-xs-2 text-right"><span class="sm-hidden">Mua sim</span></div>
        </li>
        @foreach (var item in Model.ListSim)
                                    {
                                        dynamic sim = item;
                                    <li>
                                        <div class="col-md-1 col-xs-6 sm-hidden"><a href="#">@((page - 1) * pageSize + stt++)</a></div>
                                        <div class="col-md-3 col-xs-6 bold"><a href="#">@sim.Number</a></div>
                                        <div class="col-md-2 col-xs-4"><span>@System.String.Format("{0:#,###}", @sim.Price)</span></div>
                                        <div class="col-md-2 sm-hidden text-center"><a href="#"><img src="@sim.Network.image" alt="@sim.Network.Name" width="30" height="30"></a></div>
                                        <div class="col-md-2 sm-hidden text-center"><span>@sim.SimType</span></div>
                                        <div class="col-md-2 col-xs-2 text-right"><a href="#0" class="inline btn-addtocard"><i class="fa fa-shopping-cart"></i><span class="inline sm-hidden">Mua sim                                    </span></a></div>
                                    </li>
                                    }
    </ul>
</div>
<!-- end table sim data-->
<!-- pagination-->
<div class="pagination" style="display:@isHidden">
    @Html.ActionLink("« Đầu tiên ", "", new { page = 1, simtype = ViewBag.SimType, network = ViewBag.Network, price_min = ViewBag.Price_Min, price_max = ViewBag.Price_Max, searchStr = ViewBag.SearchStr, orderBy = ViewBag.OrderBy })
    @Html.ActionLink("« Trước ", "", new { page = page - 1 > 0 ? page - 1 : 1, simtype = ViewBag.SimType, network = ViewBag.Network, price_min = ViewBag.Price_Min, price_max = ViewBag.Price_Max, searchStr = ViewBag.SearchStr, orderBy = ViewBag.OrderBy })

    @for (int i = page > 2 ? (page >= pageCount - 2 ? (pageCount > 4 ? pageCount - 4 : 1) : page - 2) : 1; i <= (page > 2 ? page + 2 : 5) && i <= pageCount; i++)
                                {
                                    if (page == i)
                                    {
                                @Html.ActionLink(i.ToString(), "", new { page = i, simtype = ViewBag.SimType, network = ViewBag.Network, price_min = ViewBag.Price_Min, price_max = ViewBag.Price_Max, searchStr = ViewBag.SearchStr, orderBy = ViewBag.OrderBy }, new { @class = "active" })
                                    }
                                    else
                                    {
                                @Html.ActionLink(i.ToString(), "", new { page = i, simtype = ViewBag.SimType, network = ViewBag.Network, price_min = ViewBag.Price_Min, price_max = ViewBag.Price_Max, searchStr = ViewBag.SearchStr, orderBy = ViewBag.OrderBy })
                                    }
                                }
    <a href="">Tiếp  &raquo; </a>
    <a href="">Cuối cùng  &raquo;</a>
</div>
